<div class="container">
  <div class="todo-app">
    <h2>To Do List <img src="images/icon.png" /></h2>
    <div class="row">
      <input
        type="text"
        id="input-box"
        placeholder="Add your test"
        [(ngModel)]="taskInput"
      />
      <button (click)="addTask()">Add</button>
    </div>
    <ul>
      <li *ngFor="let task of tasks" [class.checked]="task.checked">
        {{ task.name }}
        <span (click)="removeTask(task)">×</span>
      </li>
    </ul>
  </div>
</div>
